{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}

{% endblock %}

{% block content %}

    <style>

    </style>


    <div id="maincontentcontainer">
        <div id="maincontent">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            Exam


        </div>
    </div>
{% endblock %}