{% extends "global/index.twig" %}

{% block content %}


    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            Письмо получите через 12 часов
            <br/>
            <a href="{{ route('course.category', courseName) }}">К списку</a>
        </div>
    </div>
{% endblock %}