{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
    <link href="/res/sass/bin/test-card.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/card.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/bower_package/jplayer/dist/jplayer/jquery.jplayer.js"></script>
    <script src="/res/js/course/Card.js"></script>
{% endblock %}

{% block content %}
    <style>

    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div id="wumvi-card-box">

                <div class="item-list">
                    {% for id,item in cardList %}
                        {% include 'route/course/card/item.twig' %}
                    {% endfor %}
                </div>


                <div class="next-level-box">
                      <a href="{{ route('material.card.nextlevel', cardName) }}" class="btn">
                        Я выучил(а) глаголы. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="player-box"></div>
{% endblock %}