{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/plugin/jplayer/jquery.jplayer.min.js"></script>
    <script src="/res/js/course/card.js"></script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/res/css/course/card.css" media="all">
    <style>
        #wumvi-card-box .card-item.word-threaten .word-box{
            background: url('/res/img/course/card/bg/01/threaten.png') no-repeat #f7f7f7;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">
            <div id="wumvi-card-box">

                {% for id,item in cardList %}
                    {% include 'route/course/card/item.twig' %}
                {% endfor %}


            </div>
        </div>
    </div>

    <div id="player-box"></div>
{% endblock %}