{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/test-card.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/trashMistake.css" rel="stylesheet"/>
    <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/plugin/jplayer/jquery.jplayer.min.js"></script>
    <!-- <script src="/res/js/course/card.js"></script> -->

    <script>
        wumvi = window.wumvi || {};

        wumvi.Card = function(){
            var that = this;

            this.ITEM_TYPE_SENTENCE = 'sentence';
            this.ITEM_TYPE_TRANSLATE = 'translate';
            this.ITEM_TYPE_WORD = 'word';

            this.$root = jQuery('#wumvi-card-box');

            this.$root.find('.item').each(function(num, obj){
                new wumvi.Card.ItemModel(jQuery(obj), false, that);
            })

            this.$playerBox = jQuery("#player-box");



            this.$playerBox.jPlayer({
                swfPath: "/res/plugin/jplayer",
                supplied: "mp3, oga",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true
            });

            this.$playerBox.bind(jQuery.jPlayer.event.progress, function(event){
                console.log(event.jPlayer.status.seekPercent);
            });
        }


        wumvi.Card.ItemModel = function($cardItem, isWordShow, cardCtrl){
            this.isWordShow = isWordShow;
            this.$cardItem = $cardItem;
            this.cardCtrl = cardCtrl;
            this.initEvent();
        }


        wumvi.Card.ItemModel.prototype.onPlayBtnClick = function(){
            this.cardCtrl.$playerBox.jPlayer("setMedia", {
                mp3: "/res/card/audio/01/threaten.mp3",
                oga: "/res/card/audio/01/threaten.ogg"
            }).jPlayer("play");

            return false;
        }

        wumvi.Card.ItemModel.prototype.onTranslateBtnMouseDown = function(){
            if (this.isWordShow) {
                return;
            }
            this.$cardItem
                    .addClass(this.cardCtrl.ITEM_TYPE_TRANSLATE)
                    .removeClass(this.cardCtrl.ITEM_TYPE_SENTENCE + ' ' + this.cardCtrl.ITEM_TYPE_WORD);
            return false;
        }

        wumvi.Card.ItemModel.prototype.onTranslateBtnMouseUp = function(){
            if (this.isWordShow) {
                return;
            }
            this.$cardItem
                    .addClass(this.cardCtrl.ITEM_TYPE_SENTENCE)
                    .removeClass(this.cardCtrl.ITEM_TYPE_TRANSLATE + ' ' + this.cardCtrl.ITEM_TYPE_WORD);
        }

        wumvi.Card.ItemModel.prototype.onShowHideBtnClick = function(){
            if (this.isWordShow) {
                this.$cardItem
                        .removeClass(this.cardCtrl.ITEM_TYPE_WORD)
                        .addClass(this.cardCtrl.ITEM_TYPE_SENTENCE)
            }else{
                this.$cardItem
                        .addClass(this.cardCtrl.ITEM_TYPE_WORD)
                        .removeClass(this.cardCtrl.ITEM_TYPE_SENTENCE);
            }
            this.isWordShow = !this.isWordShow;

            return false;
        }

        wumvi.Card.ItemModel.prototype.initEvent = function(){
            var that = this;
            this.$cardItem.find('.item-btn.play:first').click( function(){
                return that.onPlayBtnClick(this)
            });
        }

        new wumvi.Card();
    </script>
{% endblock %}

{% block content %}

    <style>
        .item-list .panel-button .item-btn.hide,  .item-list .panel-button .item-btn.translate{
            background-color: transparent;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div id="wumvi-card-box">

                <div class="item-list">
                    {% for id,item in cardList %}
                        {% include 'route/course/card/item.twig' %}
                    {% endfor %}
                </div>


                <div class="next-level-box">
                      <a href="{{ route('material.card.nextlevel', cardName) }}" class="btn">
                        Я выучил(а) глаголы. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="player-box"></div>
{% endblock %}