{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/plugin/jplayer/jquery.jplayer.min.js"></script>
    <script src="/res/js/course/card.js"></script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/res/css/course/card.css" media="all">
    <style>
        #wumvi-card-box .card-item.word-threaten .word-box{
            background: url('/res/img/bg-01.jpg') no-repeat #f7f7f7;
        }

        #wumvi-card-box .card-item .sentence-box{
            background: #fbfbfb;
        }


        #wumvi-card-box .next-level-box{
            margin-top: 20px;
            text-align: center;
        }

        #wumvi-card-box .next-level-box .btn:hover{
            background: #5fcf2d;
            color: #fff;
        }

        #wumvi-card-box .item-list{
            overflow: hidden;
            clear: both;
        }

    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">
            <div id="wumvi-card-box">

                <div class="item-list">
                    {% for id,item in cardList %}
                        {% include 'route/course/card/item.twig' %}
                    {% endfor %}
                </div>


                <div class="next-level-box">
                      <a href="{{ route('material.card.nextlevel', cardName) }}" class="btn">
                        Я выучил(а) глаголы. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="player-box"></div>
{% endblock %}