{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
    <link href="/res/sass/bin/test-card.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/card.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/bower_package/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script>
        jQuery(document).ready(function(){
            loadJsList([
                '/res/bower_package/jplayer/dist/jplayer/jquery.jplayer.js',
                '/res/js/course/Card.js'
            ]);
        });
    </script>
{% endblock %}

{% block content %}
    <style>
        .word-highlight{
            font-weight: bold;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div id="wumvi-card-box">

                {% include 'global/breadcrumbs/breadcrumbs.twig' %}

                <div class="item-list">
                    {% for key, item in cardList.list %}
                        {% include 'route/course/card/item.twig' %}
                    {% endfor %}
                </div>


                <div class="next-level-box">
                      <a href="{{ route('material.card.nextlevel', cardName) }}" class="btn next-btn">
                        Всё выучино. Хочу протестироваться
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="player-box"></div>
{% endblock %}