<div class="item" data-num="{{ item.num }}" data-url="/mp3/">
    <div class="text-box">
        <div class="box box-1">
            <div class="question-text">
                <div class="caption">Threaten</div>
                <ul>
                    <li>- Hello, we are from Russia.</li>
                    <li>- Why are you <strong>threatening</strong>?</li>
                </ul>
            </div>
        </div>
        <div class="box box-2">
            <div class="answer-text">
                <div class="caption">Угрожать</div>
                <ul>
                    <li>- Привет, мы из России.</li>
                    <li>- Почему вы <strong>угрожаете</strong>?</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel-button">

        <a href="#" class="item-btn play" data-load="Загрузка">Воспроизвести</a>
        <a href="#" class="item-btn translate">Перевод</a>
        <a href="#" class="item-btn hide" data-text="Показать">Скрыть</a>
    </div>

    <div class="status"></div>
</div>