{% spaceless %}
    {% if breadcrumbs %}
        <div class="breadcrumbs">
            <div class="container">
                <span class="arrow">/</span>
                <a href="/" class="item">Главная</a>
                {% for item in breadcrumbs %}

                    <span class="arrow">/</span>
                    <a href="{{ item.url }}" class="item">{{ item.name }}</a>
                {% endfor %}

                <span class="arrow">/</span>
                <span class="item">{{ breadcrumbs.name }}</span>
            </div>
        </div>
    {% endif %}
{% endspaceless %}