{% spaceless %}
    <div class="breadcrumbs">
        <a href="../" class="item back"> &#8592; Назад</a>

        <span class="arrow">/</span>
        <a href="/" class="item">Главная</a>
        <span class="arrow">/</span>

        <a href="/course/" class="item">Курсы</a>
        <span class="arrow">/</span>

        <a href="/course/be-have/" class="item">Be-have</a>
        <span class="arrow">/</span>

        <span class="item">Speaking №1</span>
    </div>
{% endspaceless %}