{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head%}
    <link href="/res/css/course/test-box.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/wumvi/Utils.js"></script>
    <script>
        window.wumvi = window.wumvi || {};
        new wumvi.Utils();
    </script>
{% endblock %}

{% block content %}

    <style>
        .video-100pr{
            width: 100%;
        }

        .video-box{
            width: 100%;
        }

        #wumvi-video-control .next-level-box{
            margin-top: 20px;
            text-align: center;
        }

        #wumvi-video-control .next-level-box .btn:hover{
            background: #5fcf2d;
            color: #fff;
        }

        .btn.test{
            margin-right: 20px;
        }
    </style>


    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div id="wumvi-video-control">
                <div class="video-box">
                    <iframe class="video-100pr" src="https://www.youtube.com/embed/{{ videoData.url }}?modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="next-level-box">
                    <a href="{{ route('material.video.test', videoName) }}" class="btn test">
                        Пройти тест по видео
                    </a>
                    <a href="{{ route('material.video.nextlevel', videoName) }}" class="btn">
                        Я выучил(а) видео. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}