<h2>Расписание</h2>

<div class="schedule-item-list gutters user-not-auth">
    {% for num in [0,1,2] %}
        <div class="day-item span_8 col">
            <div class="text">
                Авторизируйтесь
            </div>
        </div>
    {% endfor %}
</div>