{% extends "global/index.twig" %}

{% block content %}

    <div id="slider-box-outer">
        <div id="slider">
            <div class="sliderinner">

                <img src="/res/img/slider/shop.png">
            </div>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent">
            <link href="/res/css/learn.css" rel="stylesheet">

            <table class="block horizontal" id="block1">
                <tbody>
                    <tr>
                        <td class="image" width="50%"><img src="/res/img/raznoe/shop/book.jpg"/></td>
                        <td class="text" width="50%">
                            <div class="header"><span class="caption">Книга "Нелегальные методы изучения английского"</span></div>
                            <p>Книга для тех, кто часто бывает в дороге и хочет занять время чем-то полезным. В книге собраны правила и дано понятное их объяснение. Заложены примеры для самопроверки, как в текстовом варианте, так и в аудио. Для того чтобы проверить, с книгой идёт промокод на полчаса общения с преподавателем. </p>
                            <div class="shop-read-next"><a href="/shop/book-grammar-beginner/" class="btn">Подробнее о книге<i class="fa-chevron-circle-right" style="margin: 0 0 0 7px;"></i></a> </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="block horizontal" id="block1">
                <tbody>
                <tr>
                    <td class="image" width="50%"><img src="/res/img/raznoe/shop/card-preview-1.jpg"/></td>
                    <td class="text" width="50%">
                        <div class="header"><span class="caption">Аудиовизуальные карточки</span></div>

                        <p>Чтобы бегло говорить на английском, надо иметь хороший словарным запас. В этом вам помогут уникальные карточки. Они озвучены носителем языка, чтобы вы ставили правильное произношение.  С ними идёт рабочая методика по запоминанию слов. Вы учите не просто слова, вы учите комбинации слов, которые ускорят изучение английского языка. </p>

                        <div class="shop-read-next"><a href="/shop/kartochki-dlya-slovarnogo-zapasa/" class="btn">Подробнее о карточках<i class="fa-chevron-circle-right" style="margin: 0 0 0 7px;"></i></a> </div>

                    </td>
                </tr>
                </tbody>
            </table>        </div>
    </div>

{% endblock %}