<div id="wrapper">
    <div id="headcontainer">
        <div id="top-panel">

            <div class="inner">
                <ul class="top-menu">
                    <li class="cabinet">
                        <a href="#"><i class="fa-user"></i> Личный кабинет</a>

                        <div class="dropdown">
                            <form action="#" id="loginForm">
                                <div class="field ico1"><input type="text" name="login" placeholder="Email"></div>
                                <div class="field ico2"><input type="password" name="pwd" placeholder="Пароль"></div>

                                <div class="buts">
                                    <a class="btn" href="#">Войти</a>
                                    <!--<a class="btn" href="#not-create-yet">Забыли?</a> -->
                                </div>
                            </form>
                        </div>

                    </li>
                    <li class=""><a href="/contact/">Контакты</a></li>
                    <li class=""><a href="/about/">О нас</a></li>
                    <!-- <li class=""><a href="/prices/">Цены</a></li> -->
                    <!--		<li class=""><a href="/english/">Блог</a></li>
                    <li class=""><a href="/pronunciation/">Произношение</a></li>-->

                    <li class=""><a href="/main/programma-obucheniya/">Акценты обучения</a></li>
                    <li class=""><a href="/shop/">Магазин</a></li>

                    <li class=""><a href="/">Главная</a></li>

                </ul>

            </div>
        </div>
    </div>

    <header>

        <div id="premenu">
            <a href="/" class="logo"><img src="/res/img/logo.png"/></a>
            <div class="phone-on-top">
                Запишитесь на курс по
                <i class="fa-skype"></i>
                lolawumvi или по
                <i class="fa-envelope"></i>
                lola@wumvi.com
            </div>
        </div>

        <div id="top_menu">
            <ul class="main_menu menuSelect">

                <li class="" id="main-menu-grammar">
                    <a href="/kurs/" class="top_link droped">
                        Грамматика
                        <span class="num"> </span>
                    </a>
                </li>

                <li class="" id="main-menu-samostoyatelno">
                    <a href="/main/samostoyatelno/" class="top_link droped">
                        Самостоятельно
                        <span class="num"> </span>
                    </a>
                </li>

                <li class="" id="main-menu-v-grupe">
                    <a href="/main/v-grupe/" class="top_link droped">
                        В группе
                        <span class="num"> </span>
                    </a>
                </li>

                <li class="" id="main-menu-individualno">
                    <a href="/main/individualno/" class="top_link droped">
                        Индивидуально
                        <span class="num"> </span>
                    </a>
                </li>


                <!--<li class="" id="main-menu-item-11">
                        <a href="/examples/" class="top_link droped">
                            Упражнения
                            <span class="num"> </span>
                        </a>
                    </li>
                <li class="" id="main-menu-item-23">
                    <a href="/shop/" class="top_link droped">
                        Магазин
                        <span class="num"> </span>
                    </a>
                </li>-->

            </ul>


        </div>
    </header>
</div>
