.content-slide-box{
  padding: 0;
  clear: both;
}

.content-slide-box .word-list-box{
  width: 200px;
  border-right: 1px solid #cdcdcd;
  height: inherit;
  float: left;
  /* overflow-y: scroll; */
}

.content-slide-box .word-list-box{
  padding: 10px 0;
  overflow: auto;
}

.content-slide-box .word-list-box li{
  padding: 3px 10px;
}

.content-slide-box .word-list-box li{
  cursor: pointer;

}

.content-slide-box .word-list-box li:hover, .content-slide-box .word-list-box li.select{
  background: #f4f7f9;
}

.word-card-box{
  width: 598px;
  height: 335px;
  float: right;
  position: relative;
  padding: 10px 20px;
}

.card-box .name{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-slide-box .panel-button .item-btn.next{
  visibility: visible;
}

.item-card .card-box .translate-card{
  display: none;
}

.item-card.translate-mode .card-box .translate-card{
  display: block;
}

.item-card.translate-mode .card-box .main-card{
  display: none;
}