$colorButton: transparent;
$cardHeight: 180px;

.item-list {
  .item {

    .item-btn.hide{
      background-color: $colorButton;
    }

    .item-btn.translate{
      display: none;
      background-color: $colorButton;
    }

    .card-box {
      height: $cardHeight;
    }

    .box-3{
      opacity: 0;
      position: relative;
      top: 0;
    }

    &.show-hide {
      .box-2 {
        display: none;
      }
      .box-1 {
        top: -$cardHeight;
        opacity: 0;
      }

      .box-3{
        top: -$cardHeight;
        opacity: 1;
        position: relative;

        line-height: $cardHeight;
        text-align: center;
        font-size: 50px;

        img{
          position: absolute;
          left: 0;
          top: 0;
        }
      }

    }
  }
}
