{% extends "global/index.twig" %}

{% block content %}
    <div id="slider-box-outer">
        <style>
            #slider {
                background-image: url('/res/img/slider/slider-bg-01.jpg');
            }
        </style>
        <div id="slider">
            <div class="sliderinner">
                <a href="/main/programma-offlayn/" title="Думайте на английском, а не зубрите его!"><img
                            src="/res/img/slider/index.png" title="Думайте на английском, а не зубрите его!"
                            alt="Курсы английского языка online"/></a>
            </div>
        </div>


        <div id="top-baners">
            <a href="/main/populyarnye-oshibki-v-izuchenii/"><img src="/res/img/index/error.png"
                                                                  title="5 популярных ошибок в изучении"
                                                                  alt="5 популярных ошибок в изучении"/></a>
            <a href="/main/programma-obucheniya/"><img src="/res/img/index/idea.png" title="Как правильно учить английский?"
                                                       alt="Программа обучения" class="center"/></a>
            <a href="/shop/"><img src="/res/img/index/shop.png" class="last" title="Магазин английского"
                                  alt="Магазин английского"/></a>
        </div>
    </div>



    <div id="maincontentcontainer">
        <div id="maincontent">
            <div id="notify-box">
                <div class="inner-wrap">

                    <table>
                        <tr>
                            <td style="width: 150px"><img src="/res/img/raznoe/error-access.png"/></td>
                            <td>

                                <h2>Ограничение доступа</h2>

                                <p>Упс, а я еще не разблокировала вам данный блок. Скорей всего, мы с вами не изучили
                                    предшествующий. Последовательность блоков крайне важна, многие данные строятся на основе
                                    того, что вы хорошо поняли предыдущий блок.</p>

                                <p>В случае ошибки смело пишите мне.</p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <script>
//                $(document).ready(function () {
//                    notifyBoxLogic.init();
//                });
            </script>
            <h2 class="index">Комментарий преподавателя</h2>

            <div class="mini-block">
                Нет записи
            </div>

            <h2 class="index">Открытые блоки в курсе</h2>

            <div class="block-item-list">
                <div class="wrapper-list">
                    <div class="item">
                        <a href="/kurs/serzhant/osnovy-be-i-have/" class="link-img"><img src="/res/img/icons/be.png"></a>
                        <a class="caption" href="/kurs/serzhant/osnovy-be-i-have/">Основы Be и Have</a>
                    </div>

                    <div class="item">
                        <a href="/kurs/serzhant/proshedshee-vremya/" class="link-img"><img src="/res/img/icons/past.png"
                                                                                           data-src="/res/img/icons/gay-fox.png"
                                                                                           class="gay-fox"></a>
                        <a class="caption" href="/kurs/serzhant/proshedshee-vremya/">Прошедшее время</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"
                                                          data-src="/res/img/icons/gay-fox.png" class="gay-fox"></a>
                        <a class="caption" href="#">Прошедшее время</a>
                    </div>
                </div>
            </div>

            <h2 class="index">Ваше задание на неделю</h2>

            <div class="block-item-list">

                <div class="wrapper-list">


                    <div class="item">
                        <a href="/examples/nachalnyy/talking-frog/" class="link-img"><img
                                    src="/res/img/example/talking-frog.png" class="block-icon"/></a>
                        <a class="caption" href="/examples/nachalnyy/talking-frog/">Talking frog</a>
                    </div>

                    <div class="item">
                        <a href="/examples/nachalnyy/two-worker/" class="link-img"><img
                                    src="/res/img/example/two-worker.png" class="block-icon"/></a>
                        <a class="caption" href="/examples/nachalnyy/two-worker/">Two workers</a>
                    </div>

                    <div class="item">
                        <a href="/examples/nachalnyy/kgb/" class="link-img"><img src="/res/img/example/kgb.png"
                                                                                 class="block-icon"/></a>
                        <a class="caption" href="/examples/nachalnyy/kgb/">Two worker</a>
                    </div>


                </div>

            </div>

            <script>
//                jQuery('.block-icon').click(function () {
//                    return notifyBoxLogic.show();
//                });

            </script>

            <div id="main-index-block">
                <h1>Курсы английского языка online</h1>

                <p>Здравствуйте!</p>

                <p>Я, как и многие, ходила на курсы английского языка, изучала его онлайн, занималась с репетитором. Была
                    одна проблема &ndash; английский забывается, и на это есть причина.</p>

                <p>Я не говорю, что курсы, которые есть в интернете, плохие. К примеру, ниже топ основных сайтов по курсам
                    английского языка для изучения в школе:</p>

                <ul>
                    <li><a href="http://www.allada.org/" rel="nofollow" target="_blank" title="Курсы английского языка">http://www.allada.org/</a>
                    </li>
                    <li><a href="http://www.english-online.ru/" rel="nofollow" target="_blank"
                           title="Курсы английского языка">http://www.english-online.ru/</a></li>
                    <li><a href="http://www.languagelink.ru/" rel="nofollow" target="_blank"
                           title="Курсы английского языка">http://www.languagelink.ru/</a></li>
                    <li><a href="http://www.lingua.ru/" rel="nofollow" target="_blank" title="Курсы английского языка">http://www.lingua.ru/</a>
                    </li>
                    <li><a href="http://www.abc-english.net/" rel="nofollow" target="_blank"
                           title="Курсы английского языка">http://www.abc-english.net/</a></li>
                </ul>

                <p>Или же вот достойные по онлайн-изучению английского:</p>

                <ul>
                    <li><a href="http://ischoolenglish.com/" rel="nofollow" target="_blank"
                           title="Курсы английского языка online онлайн">http://ischoolenglish.com/</a></li>
                    <li><a href="http://engblog.ru/online-courses" rel="nofollow" target="_blank"
                           title="Курсы английского языка online онлайн">http://engblog.ru/online-courses</a></li>
                    <li><a href="http://lingualeo.com/" rel="nofollow" target="_blank"
                           title="Курсы английского языка online онлайн">http://lingualeo.com/</a></li>
                </ul>

                <p>Есть даже жаргонные курсы:</p>

                <ul>
                    <li><a href="https://ru.wikipedia.org/wiki/English,_baby!" rel="nofollow" target="_blank"
                           title="Курсы американского языка">https://ru.wikipedia.org/wiki/English,_baby!</a></li>
                    <li><a href="http://www.englishbaby.com/" rel="nofollow" target="_blank"
                           title="Курсы американского языка">http://www.englishbaby.com/</a></li>
                </ul>

                <p>У всех вышеупомянутых курсов английского есть свои плюсы, даже очень большие плюсы! Я уважаю чужой труд
                    по их созданию, но я обнаружила в них ряд минусов.</p>

                <p>Давай просто поразмышляем, ни на кого не показывая пальцем.</p>

                <h2>Преподаватели на английских курсах</h2>

                <p>Кто такие преподаватели английского языка в школах? Чаще всего это люди, закончившие
                    институты по изучению иностранных языков. Сколько они его учили? Лет 5 минимум. Плюс практики,
                    стажировки. Теперь важная мысль: пять лет формального обучения, каждый день. У них меняется восприятие
                    языка. Когда же они объясняют нам, простым смертным, то не могут поставить себя на наше место. Мы не
                    имеем лишних пять лет на изучение, но у нас нет их мышления.</p>

                <h2>Учебные пособия</h2>

                <p>Многие школы, как и 90% репетиторов, чего таить, преподают по книжкам. Я думаю, вы
                    знаете такие книги, как &laquo;New headway&raquo;.&nbsp;Я занималась по ним &ndash; этак лет восемь
                    назад. Это было жестью. Монотонное повторение слов, ничего не запоминается. По факту &ndash; с помощью
                    книжек вы заучите множество шаблонных фраз. И только! При встрече с носителями языка вы сразу поймёте,
                    что время на учёбу потрачено зря. Мне всегда хотелось задать вопрос тем преподавателям, которые
                    используют эти книги: вы что, не можете создать нормальную программу самостоятельно?</p>

                <h2>Онлайн-курсы</h2>

                <p>Отдельное слово английским онлайн-курсам. В данное время они растут как грибы, воруя контент друг у
                    друга. Ничего не имею против. Но в них нет программы &mdash; элементарной. Большая часть правил жутко
                    формальна. Это то же самое, что первоклашкам дать интегралы. Нет поэтапного разбития на части.</p>

                <p>Мы, прежде чем дойти хотя бы до таблицы умножения, долго изучали сложение, вычитание, и потом только
                    через некоторое время нам дали таблицу. То же самое с английским языком &mdash; должна быть
                    целенаправленная программа, многоуровневая система объяснения правил.</p>

                <h2>Надо учиться думать на английском</h2>

                <p>И теперь главный минус. Курсы часто забывают, что уровень английского языка измеряется не количеством
                    слов, а понимаем английского языка. К примеру, почти все заставляют учить таблицу времён, но никто не
                    объясняет их сакральный смысл. Самое интересное, что после понимания сакрального смысла английских
                    времён таблица уже не нужна.</p>

                <p>Да, к чему эта вся статья? Когда мы поняли эти минусы, то создали Wumvi.com &mdash;&nbsp;курсы
                    английского языка. Мы очень долго бились над статьями, делая их запоминающимися. И главное &mdash;&nbsp;мы
                    обучаем думать на английском, а не зубрить его.</p>

                <div class="gradient-line">&nbsp;</div>
            </div>

            <div id="showMainContent"><a class="btn" href="#">Показать всё</a></div>
        </div>
    </div>

{% endblock %}