{% extends "global/index.twig" %}

{% block content %}
    <div id="slider-box-outer">
        <style>
            #slider {
                background-image: url('/res/img/slider/slider-bg-01.jpg');
            }
        </style>

        <div id="slider">
            <div class="sliderinner">
                <a href="/main/programma-offlayn/" title="Думайте на английском, а не зубрите его!">
                    <img src="/res/img/slider/index.png"
                         title="Думайте на английском, а не зубрите его!"
                         alt="Курсы английского языка online"/>
                </a>
            </div>
        </div>
    </div>

    <style>
        #last-view{
            overflow: hidden;
            clear: both;
            margin-left: -8px;
        }

        #last-view .item{
            float: left;
            margin-left: 8px;;

        }

        #last-view.item-8{
            width: 2000px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">
            <div class="container">
                <div class="caption-2">Последние блоки</div>
                <div id="last-view" class=" item-8">
                    {% for i in (1..8) %}
                        <div class="item">
                            <a href="#">
                                <img src="/res/img/index-empty.png"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="container">
                <div>Статьи</div>
            </div>



        </div>
    </div>

{% endblock %}