{% extends "global/index.twig" %}

{% block content %}
    <style>
        .course-list .item {
            float: left;
            line-height: 0;
        }

        .course-list .item .preview{
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .course-list .item .preview.disable {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
        }

        .course-list .item h2{
            font-size: 16px;
            font-weight: bold;
        }

        .course-list .item p.description{
            font-size: 14px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">

            <div class="course-list">
                <div class="item">
                    <img src="/res/img/raznoe/be-have.jpg" class="preview"/>
                    <div>
                        <h2>Начало</h2>
                        <p class="description">Основы основ английского</p>
                    </div>
                </div>

                <div class="item">
                    <img src="/res/img/raznoe/past-simple.jpg" class="preview"/>
                    <h2>Прошедшее время</h2>
                    <p class="description">Как говорить о прошлом?</p>
                </div>


                <div class="item">
                    <img src="/res/img/raznoe/present-simple.jpg" class="preview "/>
                    <h2>Настоящее время</h2>
                    <p class="description">Как говорить о прошлом?</p>
                </div> 

                <div class="item">
                    <img src="/res/img/raznoe/be-have.jpg" class="preview disable"/>
                </div>

                <div class="item">
                    <img src="/res/img/raznoe/be-have.jpg" class="preview disable"/>
                </div>

                <div class="item">
                    <img src="/res/img/raznoe/be-have.jpg" class="preview disable"/>
                </div>

                <div class="item">
                    <img src="/res/img/raznoe/be-have.jpg" class="preview disable"/>
                </div>
            </div>

        </div>
    </div>

{% endblock %}