{% extends "global/index.twig" %}

{% block content %}
    <div id="maincontentcontainer">
    <div id="maincontent">
    <ul id="tabs">
        <li><a href="#" name="tab1">Блок "Начальный"</a></li>
        <li><a href="#" name="tab2">Блок "Капитан"</a></li>

    </ul>

    <div id="content">
        <div id="tab1">
            <h2>Блок "Начальный"</h2>

            <div class="block-item-list">
                <div class="wrapper-list">
                    <div class="item">
                        <a href="/kurs/serzhant/osnovy-be-i-have/" class="link-img"><img src="/res/img/icons/be.png"/></a>
                        <a class="caption" href="/kurs/serzhant/osnovy-be-i-have/">Основы Be и Have</a>
                    </div>

                    <div class="item">
                        <a href="/kurs/serzhant/proshedshee-vremya/" class="link-img"><img src="/res/img/icons/past.png" data-src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/proshedshee-vremya/">Прошедшее время</a>
                    </div>

                    <div class="item block-icon">
                        <!-- <a href="/kurs/serzhant/nastoyashhee-vremya/" class="link-img"><img src="/res/img/icons/present.png" data-src="/res/img/icons/gay-fox.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/nastoyashhee-vremya/">Настоящее время</a>
                    </div>



                    <div class="item block-icon">
                        <!--<a href="/kurs/serzhant/budushhee-vremya/" class="link-img"><img src="/res/img/icons/future.png" data-src="/res/img/icons/gay-fox.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/budushhee-vremya/">Будущее время</a>
                    </div>

                    <div class="item block-icon">
                        <!--<a href="/kurs/serzhant/ukazatelnye-slova/" class="link-img"><img src="/res/img/icons/this-that.png" data-src="/res/img/icons/this-that.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/ukazatelnye-slova/">Указательные слова</a>
                    </div>

                    <div class="item block-icon">
                        <!--<a href="/kurs/serzhant/passiv-v-angliyskom/" class="link-img"><img src="/res/img/icons/passive.png" data-src="/res/img/icons/passive.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/passiv-v-angliyskom/">Пассив в английском</a>
                    </div>

                    <div class="item block-icon">
                        <!-- <a href="/kurs/serzhant/sushhestvitelnoe/" class="link-img"><img src="/res/img/icons/noun.png" data-src="/res/img/icons/noun.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/sushhestvitelnoe/">Существительное</a>
                    </div>

                    <div class="item block-icon">
                        <!-- <a href="/kurs/serzhant/artikl/" class="link-img"><img src="/res/img/icons/article.png" data-src="/res/img/icons/article.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/artikl/">Артикль</a>
                    </div>

                    <div class="item block-icon">
                        <!-- <a href="/kurs/serzhant/mestoimeniya/" class="link-img"><img src="/res/img/icons/pronoun.png" data-src="/res/img/icons/pronoun.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/mestoimeniya/">Местоимения</a>
                    </div>

                    <div class="item block-icon">
                        <!-- <a href="/kurs/serzhant/modalnye-glagoly/" class="link-img"><img src="/res/img/icons/modal.png" data-src="/res/img/icons/modal.png" class="gay-fox"/></a> -->
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="/kurs/serzhant/modalnye-glagoly/">Модальные глаголы</a>
                    </div>
                </div>
            </div>





        </div>
        <div id="tab2">





            <h2>Блок "Капитан"</h2>


            <div class="block-item-list">
                <div class="wrapper-list">
                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Прошедшее время</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Настоящее время</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Будущее время</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Глисты прошлого</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Глисты настоящего</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Глисты будущего</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Вопросы с Лолой</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Два настоящих времени</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Предлоги</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Камасутра для предлогов</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Наречие</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Прилагательные</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Вежливость</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Количественные местоимения</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Модальные глаголы</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Герундий</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Фразовые глаголы</a>
                    </div>

                    <div class="item block-icon">
                        <a href="#" data-href="#" class="link-img"><img src="/res/img/icons/gay-fox.png"/></a>
                        <a class="caption" href="#">Идиомы + ошибки</a>
                    </div>


                </div>
            </div>

        </div>

    </div>

    <script>
        jQuery('.block-icon').click(function(){
            return notifyBoxLogic.show();
        });
    </script>
    <div id="notify-box">
        <div class="inner-wrap">

            <table>
                <tr><td style="width: 150px"><img src="/res/img/raznoe/error-access.png"/></td><td>

                        <h2>Ограничение доступа</h2>
                        <p>Упс, а я еще не разблокировала вам данный блок. Скорей всего, мы с вами не изучили предшествующий. Последовательность блоков крайне важна, многие данные строятся на основе того, что вы хорошо поняли предыдущий блок.</p><p>В случае ошибки смело пишите мне.</p>
                    </td></tr>
            </table>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            notifyBoxLogic.init();
        });
    </script>        </div>
    </div>
{% endblock %}