{% extends "global/index.twig" %}

{% block footer %}
    <script>
        window.wumvi = window.wumvi || {};
        window.grammar = (function(){
            var $grammarControl;

            function initEvent(){
                $grammarControl.find('.btn').click(onSingOnTesting);
            }

            function onSingOnTesting(){
                if (!wumvi.storage.user.isAuth) {
                    alert('Авторизуйтесь');
                    return false;
                }


            }

            function init(){
                $grammarControl = jQuery('#wumvi-grammar-control');

                initEvent();
            }

            init();
        })();
    </script>
{% endblock %}

{% block content %}
    <style>
        #wumvi-grammar-control{
            text-align: center;
        }

        #wumvi-grammar-control .btn{
            text-decoration: none;

            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;

            display: inline-block;
            position: relative;
            overflow: visible;

            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            margin: 0 0 5px 0;
            -webkit-border-radius: 2px!important;
            -moz-border-radius: 2px!important;
            border-radius: 2px!important;
            -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
            -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);

            font-size: 18px;
            line-height: 20px;
            padding: 6px 15px;

            color: #fff;
            border: 1px solid #eb4e01;
            min-width: 121px;
            background-image: -moz-linear-gradient(top,#ff5400,#f35000);
            background-image: -ms-linear-gradient(top,#ff5400,#f35000);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff5400),to(#f35000));
            background-image: -webkit-linear-gradient(top,#ff5400,#f35000);
            background-image: -o-linear-gradient(top,#ff5400,#f35000);
            background-image: linear-gradient(top,#ff5400,#f35000);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5400', endColorstr='#f35000', GradientType=0);
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">
            {{ printFile(contentFile) }}

            <div id="wumvi-grammar-control">
                <a href="{{ route('grammar.testing', 'be-have') }}" class="btn">Всё понятно! Проверяйте меня)</a>
            </div>
        </div>
    </div>
{% endblock %}