{% extends "global/index.twig" %}

{% block footer %}
    <script>
        window.wumvi = window.wumvi || {};
        window.grammar = (function(){
            var $grammarControl;

            function initEvent(){
                $grammarControl.find('.btn').click(onSingOnTesting);
            }

            function onSingOnTesting(){
                if (!wumvi.storage.user.isAuth) {
                    alert('Авторизуйтесь');
                    return false;
                }


            }

            function init(){
                $grammarControl = jQuery('#wumvi-grammar-control');

                initEvent();
            }

            init();
        })();
    </script>
{% endblock %}

{% block content %}
    <style>
        #maincontentcontainer{
            background: #fff;
        }

        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/how-learn-grammar.png" title="Как правильно учить граммитку?"
                        alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            {{ printFile(contentFile) }}

            <div class="open-next-level-box">
                <a href="{{ route('grammar.testing', 'be-have') }}" class="btn">Всё понятно! Проверяйте меня)</a>
            </div>
        </div>
    </div>
{% endblock %}