{% extends "global/index.twig" %}

{% block content %}
    <div id="maincontentcontainer">
        <div id="maincontent">
            {{ printFile(contentFile) }}
        </div>
    </div>
{% endblock %}