#maincontent {
  padding: 0; }
  #maincontent .col.img {
    margin-top: 40px;
    text-align: center; }
  #maincontent .form-panel .caption {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #7a8195; }
  #maincontent .form-panel {
    width: 400px;
    position: relative;
    background: #eceef1;
    min-height: 450px;
    padding: 40px 30px 40px 30px;
    margin: 0 auto; }

#maincontentcontainer {
  background: #e1e5ec; }

.submit {
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  background: #93dc82;
  background: #aebac8;
  color: #fff;
  text-align: center;
  padding: 0 15px;
  margin: 0;
  border: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  text-decoration: none; }
