.item-list {
  overflow: hidden;
  margin-left: -25px; }
  .item-list .item {
    height: 280px;
    width: 550px;
    margin: 0 0 25px 25px;
    padding: 20px 20px 0px 20px;
    float: left;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #cdcdcd; }
    .item-list .item .text-box {
      height: 220px;
      overflow: hidden;
      font-size: 18px;
      line-height: 26px; }
      .item-list .item .text-box .caption {
        display: block;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 5px;
        font-weight: bold; }
      .item-list .item .text-box .box {
        padding-bottom: 20px; }
    .item-list .item .box-1 {
      /* background: green;*/
      opacity: 1; }
    .item-list .item .box-2 {
      opacity: 0;
      /*background: dodgerblue;*/ }
    .item-list .item.show-block-1 .box-1 {
      top: -220px;
      opacity: 0; }
    .item-list .item.show-block-1 .box-2 {
      top: -220px;
      opacity: 1; }
  .item-list .panel-button {
    background: #333333;
    /*border-top: 1px solid #f5f5f5;
    padding: 4px 8px;*/
    height: 40px;
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden; }
    .item-list .panel-button .item-btn {
      float: right;
      background-color: #0096ff;
      height: 40px;
      color: white;
      line-height: 40px;
      text-decoration: none;
      padding: 0 20px;
      min-width: 80px; }

.item-list .item .box {
  height: 220px;
  position: relative;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  top: 0; }
