.test-box .item-list .item input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;

    width: auto;

    margin: 0;
    height: auto;
    display: inline;

    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */

    background: rgba(240, 240, 240, 0.8);

    position: relative;
    z-index: 5;

}

.test-box .item-list .item .box{
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.14);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.14);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.14);
    border: 1px solid #eeeeee;
}

.test-box .item-list .item {
    margin: 15px 15px 0 0;
    overflow: hidden;
    float: left;

    width: 500px;
    position: relative;
    padding: 0 0 5px 5px;
}

.test-box .item-list .item .panel-bottom{
    height: 40px;
    width: 50%;
    background: #fff;
    padding-top: 5px;

    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border-top: 0;
    position: relative;
    top: -1px;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.14);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.14);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.14);
}

.test-box .item-list .item .question-box{
    z-index: 4;
    position: relative;
    top: 5px;
    right: 5px;
}

.test-box .item-list .item .wrong-text {
    font-size: 20px;
    line-height: 25px;
    padding: 20px 20px 40px 20px;
    background: #fff;

    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;

    border-top: 0;
}

.test-box .item-list .item .question-text{
    font-size: 20px;
    font-weight: bold;

    padding: 0 20px 20px 20px;

    background: #fff;
    border: 1px solid #eeeeee;
    border-bottom: 1px dashed #f2f2f2;
    border-top: 0;
}

.test-box .item-list .item .question-header{

    height: 69px;

    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    border-bottom: 0;


}

.test-box .item-list .item .answer-text {
    background: #fff;
    padding: 0 20px 20px 20px;
    font-size: 18px;
    line-height: 25px;
    border-top: 0;
}

.test-box .item-list .item .answer-text h2{
    margin: 0;
}

.test-box .item-list .item .answer-box{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: 0;
    width: 500px;
    color: transparent;
}

.test-box .item-list .item .panel-button{
    width: 50%;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.test-box .item-list .item .panel-button a.btn.answer{
    display: none;
}

.test-box .item-list .item .panel-button a.btn{
    width: 95%;

    height: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    padding: 5px;
    text-align: center;
    background: #fff;
    transition: none;
}

.test-box .item-list .item.short-btn .panel-button a.btn{
    width: 45%;
    margin-left: 5%;
}

.test-box .item-list .item.short-btn .panel-button a.btn.answer{
    display: inline-block;
}

.test-box .item-list .item .answer-box .question-header, .item .answer-text, .item .right-text{
    border-color: #c9c9c9;
}

.test-box .item-list .item .answer-status{
    position: absolute;
    bottom: 0px;
    left: 90px;
    z-index: 4;
    opacity: 0.08;
}

.test-box .item-list .item .answer-status .wrong, .item .answer-status .right{
    display: none;
}

.test-box .item-list .item.wrong-answer .answer-status .wrong, .item.right-answer .answer-status .right{
    display: block;
}

.test-box .item-list .item.show-answer .question-box{
    z-index: 0;
    opacity: 0.5;
}

.test-box .item-list .item.show-answer .answer-box{
    z-index: 10;
    opacity: 1;
    color: inherit;
}



.test-box .item-list .item .right-text{
    -webkit-border-radius: 0 0 6px 6px ;
    -moz-border-radius: 0 0 6px 6px ;
    border-radius: 0 0 6px 6px ;

    font-size: 18px;
    line-height: 25px;

    padding: 20px;

    background: #fff;
    position: relative;
    top: -1px;
    border-top: 0;
    font-weight: bold;
}

.test-box .item-list .item .answer-text.short-height{
    height: 90px;
}

.test-box .item-list .item.show-answer .answer-text.short-height{
    height: auto;
}

.test-box .item-list .item .answer-box .close{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.5;
}

.test-box .item-list .item .answer-box .close:hover{
    opacity: 1;
}

.test-box .item-list{
    clear: both;
    overflow: hidden;
}

