#wumviBox{
    position: fixed;
    width: 530px;
    padding: 40px 0;
    background-color: red;

    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -265px;

    background-color: rgba(0,0,0,0.5);

    border-radius: 5px;
}

#wumviBox .innerWumviBox{
    width: 450px;
    min-height: 200px;
    background: white;
    z-index: 1300;

    border: 1px solid #8c8c8c;


    margin: 0 auto;
    /*
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    */

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.54);
}