{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/plugin/jplayer/jquery.jplayer.min.js"></script>
    <script src="/res/js/course/card.js"></script>
{% endblock %}

{% block content %}
    {% spaceless %}
        <link rel="stylesheet" href="/res/css/course/card.css" media="all">

        <div id="maincontentcontainer">
            <div id="maincontent">

                <div id="wumvi-card-box">
                    {% for id,item in cardList %}
                        {% include 'route/course/card/item.twig' %}
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endspaceless %}
{% endblock %}