{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
                "use strict";
                var loader = new wumvi.LoadScript([
                    '/res/js/wumvi/Login.js'
                ], function(){
                    var loign = new wumvi.Login();
            });
        });
    </script>
{% endblock %}

{% block head%}
    <link href="/res/sass/bin/user.registration.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <style>
        .warning-box{
            padding: 8px;
            margin-bottom: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            display: none;
        }

        .warning-box.error{
            background: #aebac8;
            border: 1px solid #8d98a4;
            border-radius: 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div class="row">
                <div class="span_12 col img">
                    <img src="/res/img/auth-form.png"/>
                </div>
                <div class="span_12 col">
                    {% include 'global/user/block/loginForm.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="urlList" data-login-url-ajax="{{ route('user.login-auth') }}"></div>
    <div id="userData" data-url-from="{{ fromUrl }}"></div>
{% endblock %}