{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            loadJsList([
                '/res/bower_package/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js',
                '/res/js/wumvi/Login.js'
            ]);
        });
    </script>
{% endblock %}

{% block head%}
    <link href="/res/sass/bin/user.registration.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <style>
        .warning-box{
            padding: 8px;
            margin-bottom: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            display: none;
        }

        .warning-box.error{
            background: #aebac8;
            border: 1px solid #8d98a4;
            border-radius: 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div class="row">
                <div class="span_12 col img">
                    <img src="/res/img/i-miss-you.png"/>
                </div>
                <div class="span_12 col">
                    <div class="login-box">
                        <div class="caption">Вход</div>

                        <div class="warning-box error"></div>

                        <div class="form-item"><input type="text" name="login" placeholder="Введите email"/></div>
                        <div class="form-item"><input type="password" name="pwd" placeholder="Введите пароль"/></div>

                        <div class="form-item"><a href="#" class="submit">Выслать ссылку еще раз</a></div>
                        <div class="form-item"><a href="#" class="submit">Войти</a></div>

                        <div class="regist">
                            <a href="{{ route('user.registration') }}" id="registration">Зарегистрироваться</a>
                            /
                            <a href="{{ route('user.forgot-pwd') }}" id="forgot-pwd">Восстановить пароль</a>
                        </div>

                        <div class="preloader"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="urlList"
            data-login-url-ajax="{{ route('user.login-auth') }}",
            ></div>
    <div id="userData"
            data-url-from="{{ fromUrl }}"
            ></div>
{% endblock %}