{% extends "global/index.twig" %}

{% block content %}
    <div id="maincontentcontainer">
        <div id="maincontent">
            Доступ открыт только авторизованным пользователям.
        </div>
    </div>
{% endblock %}