{% extends "global/index.twig" %}

{% block head%}
    <link href="/res/sass/bin/user.registration.css" rel="stylesheet"/>
{% endblock %}

{% block content %}



    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            <div class="row">
                <div class="span_12 col img">
                    <img src="/res/img/page-lock.png"/>
                </div>
                <div class="span_12 col">
                    {% include 'global/user/block/loginForm.twig' %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}