{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            "use strict";
            var loader = new wumvi.LoadScript([
                '/res/js/wumvi/Validation.js',
                '/res/js/wumvi/Registration.js'
            ], function(){
                var registration = new wumvi.Registration();
            });
        });
    </script>
{% endblock %}

{% block head%}
    <link href="/res/sass/bin/user.registration.css" rel="stylesheet"/>
    <link href="/res/sass/bin/validation.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <style>
        .email-result-box{
            display: none;
            text-align: center;
            padding-top: 40px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div class="row login-form-box">
                <div class="span_12 col">
                    <img src="/res/img/registration.png"/>
                </div>
                <div class="span_12 col">
                    <div class="login-box validation-box" id="login-box">
                        <div class="caption">Регистрация</div>

                        <div class="form-item">
                            <input type="text" name="name" placeholder="Имя"/>
                        </div>
                        <div class="form-item">
                            <input type="email" name="login" placeholder="Введите email"/>

                        </div>
                        <div class="form-item">
                            <input type="password" name="pwd" placeholder="Введите пароль"/>
                        </div>
                        <div class="form-item"><a href="#" class="submit" disabled>Зарегистрироваться</a></div>

                        <div class="regist">
                            <a href="{{ route('user.login') }}" id="registration">Войти</a>
                            /
                            <a href="{{ route('user.forgot-pwd') }}" id="forgot-pwd">Восстановить пароль</a>
                        </div>

                        <div class="preloader"></div>
                    </div>
                </div>
            </div>

            <div class="row email-result-box">
                <div class="span_24 col">
                    <img src="/res/img/page-email.png">
                </div>
            </div>
        </div>
    </div>

    <div id="urlList" data-registration-url-ajax="{{ route('user.registration.ajax') }}"></div>
    <div id="userData" data-url-from="{{ fromUrl }}"></div>
{% endblock %}