.content-slide-box .item input {
  background: #fff;
  padding: 6px;
  margin: 0;
  font-size: 19px;
  border: 1px solid #cdcdcd;
  color: #000;
  border-radius: 3px;
  text-align: center; }

.content-slide-box .item.wrong-answer input {
  border: 2px solid red; }

.content-slide-box .item.right-answer input {
  border: 2px solid greenyellow; }
