{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}
{% endblock %}

{% block content %}
    <style>
        .item-list .item .preview{
            float: left;
            height: 150px;
            width: 150px;
        }

        .item-list .item .text-box{
            float: right;
            height: 150px;
            width: 400px;
            padding: 10px 0;
        }

        .item-list .item {
            float: left;
            overflow: hidden;
            margin: 0 20px 20px 0;

            background: #fff;
            position: relative;

            -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);

            border: 1px solid #cdcdcd;

            cursor: pointer;
        }

        .item-list .item:hover{
            -webkit-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
            top: -1px;
            left: -1px;
        }

        .item-list{
            clear: both;
            overflow: hidden;
            margin-left: -20px;
        }

        .item-list .item .text-box .caption{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            line-height: 22px;
        }

        .item-list .item .text-box .caption .author{
            color: #6e6e6e;
            font-size: 13px;
        }

        .item-list .item .text-box .description{
            font-size: 13px;
            color: #6e6e6e;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            <div id="choose-abstract">
                <div class="item-list">
                    {% for i in range(0,4) %}
                        <div class="item">
                            <div class="preview">
                                <img src="/res/img/course/abstract/choose/eat-that-frog.png"/>
                            </div>
                            <div class="text-box">
                                <div class="caption">Eat that frog <span class="author">(Brian Tracy)</span></div>
                                <div class="description">
                                    С помощью данной книги вы сможете правильно планировать день.
                                    Фокусировать внимание на значимых задачах. Получать более высокие результаты.
                                    Книга польностью избавлена от воды и содержит чистый и натуральный сок знаний.
                                </div>
                            </div>
                            <div class="btn">

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}