{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}

    <div id="modal">
        <div class="wrapper">
            <div class="inner">
                <div class="text"></div>
                <div class="close"></div>
            </div>
        </div>
    </div>

    <script>


    </script>

    <style>
        #modal .inner {
            width: 800px;
            padding: 50px;
            height: 337px;
            background: #fff;
            margin: 0 auto;
            border-radius: 6px;
            overflow: hidden;
            -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #cdcdcd;
            position: relative;
        }

        #modal.show .inner {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: all .3s linear 0s;
            -moz-transition: all .3s linear 0s;
            -o-transition: all .3s linear 0s;
            transition: all .3s linear 0s;
        }

        #modal{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .4);
            display: none;

            z-index: 20;
        }

        #modal.show{
            display: table;

        }

        #modal .close{
            background: url('/res/img/sprite/close.png') no-repeat;
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.2;
            /* IE 8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            cursor: pointer;
        }

        #modal .close:hover{
            opacity: 1;
        }

        #modal .wrapper{
            display: table-cell;
            vertical-align: middle;
        }

        #modal .text h2{
            font-size: 20px;
            height: 24px;
        }

        #modal .text{
            font-size: 18px;
            line-height: 24px;
            font-weight: normal;
        }

        @media only screen and (max-width: 1020px) {
            #modal .inner {
                width: 95%;
            }
        }
    </style>

    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/js/wumvi/Book/Book.js'
            ], function(){
                var abstractBook = new wumvi.AbstractBook();
            });
        });
    </script>

{% endblock %}

{% block content %}

    <style>
        #absBox{
            margin-top: 20px;
        }
        
        #absBox .text{
            font-size: 24px;
            line-height: 40px;
        }

        #absBox .text p{
            font-size: inherit;
        }

        #absBox .text:hover .other, #absBox .text:hover h2{
            -webkit-filter: url(#blur);
            filter: url(#blur);
            -webkit-filter: blur(1px);
            filter: blur(1px);
            filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
            color: #999;
            transition: 0.3s all linear;
        }

        #absBox .phrase{
            font-weight: 600;
            cursor: pointer;
            display: inline-block;
            transition: 0.3s all linear;
            color: #000000;
        }

        #absBox .text:hover .phrase{

        }

        #absBox .phrase:hover{

        }

        #absBox h2{
            font-size: 30px;
            font-weight: 600;
            margin: 40px 0 20px 0;
        }

        #absBox .explanation{
            display: none;
        }



        .next-level-box{
            margin-top: 20px;
            text-align: center;
        }

        .next-level-box .btn:hover{
            background: #5fcf2d;
            color: #fff;
        }

        .btn.test{
            margin-right: 20px;
        }

        /*******************************************************************/


    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            <div id="absBox">
                {{ printFile(contentFile) }}
            </div>


            <div class="open-next-level-box">
                <a href="{{ route('material.getabstract.nextlevel', abstractName) }}" class="btn">
                    Я выучил(а) текст. Открыть следующий курс
                </a>
            </div>
        </div>
    </div>
{% endblock %}