.content-slide-box {

  width: 800px;

  height: 337px;
  background: #fff;
  margin: 0 auto;
  border-radius: 6px;

  overflow: hidden;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdcdcd;

  position: relative;

  .list-wrapper {
    padding: 50px 50px 0 50px;
  }
}

.content-slide-box .item {
  height: 237px;
  overflow: hidden;
  display: none;
  font-size: 20px;
  line-height: 26px;;
}

.content-slide-box .item.show {
  display: block;
}

.content-slide-box .panel-button {
  /*position: absolute;
  bottom: 16px;
  text-align: center;
  width: 100%;
  left: 0;
  clear: both;
  overflow: hidden; */

  overflow: hidden;
  text-align: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

}

.content-slide-box .panel-button:hover {
  background: #ddeafa;
}

.content-slide-box .panel-button .item-btn {
  text-decoration: none;
  color: #5f5e5e;
  font-weight: bold;
  display: block;
  float: left;
  width: 33.333333%;
  height: 30px;
  line-height: 30px;
}

.content-slide-box .panel-button .item-btn:hover {
  color: #fff;
  background: #65a6f7;

}

#progressRound {
  padding: 20px 0;
}

/** Кнопки */
.content-slide-box .panel-button .item-btn.answer, .content-slide-box .panel-button .item-btn.next {
  visibility: hidden;
}

/** Показываем кнопки */
.content-slide-box .panel-button.show .item-btn.answer, .content-slide-box .panel-button.show .item-btn.next {
  visibility: visible;
}

.content-slide-box .item .answer-text, .content-slide-box .item .right-text {
  display: none;
}

.content-slide-box .item.answer-mode .answer-text, .content-slide-box .item.answer-mode .right-text {
  display: block;
}

.content-slide-box .item.answer-mode .question-text, .content-slide-box .item.answer-mode .wrong-text {
  display: none;
}

.content-slide-box .item .wrong-text {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.progress-box .item.wrong {
  background: url('/res/img/progress-wrong.png');
  border: 0;
}

.progress-box .item.right {
  background: url('/res/img/progress-right.png');
  border: 0;
}

.content-slide-box .item .right-text {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.content-slide-box .panel-button .item-btn.next.hide {
  visibility: hidden;
}