{% extends "global/index-admin.twig" %}

{% block head%}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

        </div>
    </div>
{% endblock %}