{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/progress.css" rel="stylesheet"/>
    <link href="/res/sass/bin/content-slide-box.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/js/ProgressBar.js',
                '/res/js/wumvi/ContentSlideBox.js',
                '/res/js/wumvi/QuestionAnswer/QuestionAnswer.js',
                '/res/js/wumvi/QuestionAnswer/Form.js'
            ], function(){
                var questionAnswer = new wumvi.QuestionAnswer();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <style>
        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/slider/question.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div class="header">
        <img src="/res/img/course/question/caption.png"/>
    </div>


    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

                <style>

                    .item .box-1{
                        display: table;
                        width: 100%;
                        height: inherit;
                    }

                    .item .box-1 .question-text{
                        display: table-cell;
                        vertical-align: middle;
                        height: inherit;
                    }

                    .question-text{
                        text-align: center;
                        line-height: 50px;
                        font-size: 40px;
                    }

                    .content-slide-box .panel-button .item-btn.next, .content-slide-box .panel-button .item-btn.answer{
                        visibility: visible;
                    }
                </style>


                <div class="content-slide-box" id="question-answer-box">
                    {% for item in questionList %}
                        <div class="item">
                            <div class="box box-1">
                                <div class="question-text">
                                    {{ item.question|raw }}
                                </div>
                            </div>
                            <div class="box box-2">
                                <div class="answer-text">
                                    {{ item.answer|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="panel-button">
                        <a href="#" class="item-btn answer" id="showAnswer" data-text="Показать вопрос">Показать ответ</a>
                        <a href="#" class="item-btn check" id="soundExample">Озвучить</a>
                        <a href="#" class="item-btn next" id="nextQuestion">Далее</a>
                    </div>
                </div>
                <div class="progress-box" id="progressRound" data-count="{{ questionList.length }}"></div>

                <div class="next-level-box">
                    <a href="{{ route('course.question-answer.nextlevel', questionName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>

        </div>
    </div>
{% endblock %}