{% extends "global/index.twig" %}

{% block content %}
    <style>
        #maincontentcontainer{
            background: #fff;
        }

        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/myself.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            {{ printFile(contentFile) }}
        </div>
    </div>
{% endblock %}