{% extends "global/index.twig" %}

{% block content %}
    <div id="maincontentcontainer">
        <div id="maincontent">
            <div id="contacts">
                <p>
                    <img src="/res/img/raznoe/error-not-done.jpg"/>
                </p>
                <div class="skype item">
                    <i class="fa-skype"></i>
                    lolawumvi
                </div>
                <div class="mail item">
                    <i class="fa-envelope"></i>
                    <a href="mainto:lola@wumvi.com">lola@wumvi.com</a>
                </div>
                <div class="facebook item">
                    <i class="fa-facebook"></i>
                    <a href="http://facebook.ru/wumvi/">http://facebook.ru/wumvi/</a>
                </div>
                <div class="vk item">
                    <i class="fa-vk"></i>
                    <a href="http://vk.com/wumvi">http://vk.com/wumvi</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}