{% extends "global/index.twig" %}

{% block content %}

    <div id="slider-box-outer">
        <div id="slider">
            <div class="sliderinner">

                <img src="/res/img/slider/price.png">
            </div>
        </div>    </div>

    <div id="maincontentcontainer">
        <div id="maincontent">
            <h1>Цены и программы</h1>

            <div id="price-box">
                <div class="price-block">
                    <div><img alt="Стоимость за онлайн программу" src="/res/img/raznoe/prices/online-price.png" /></div>

                    <div class="text">
                        <p><strong>4 занятия по 45 минут в месяц</strong></p>

                        <p>Онлайн. Привычная система. Вы обговариваете с преподавателем фиксированное время, потом связываетесь с преподавателем по скайпу или по телефону и обсуждаете задания и накопившиеся вопросы. Урок длится 60 минут. Одним словом, классика интернета.</p>

                        <p>Есть одно замечание, которое не явно для начинающих заниматься с репетитором по классическому методу. Не всегда фиксированное время удобно из-за причин физико-эмоционального плана. Вы можете быть усталым, не в настроении или просто нет времени связаться, мы все занятые. Да и 60 минут подряд &mdash; это не очень удобно.</p>
                    </div>
                </div>

                <div class="price-block">
                    <div><img alt="Стоимость за онлайн программу" src="/res/img/raznoe/prices/offline-price.png" /></div>

                    <div class="text">
                        <p><strong>12 мини занятия в месяц</strong></p>

                        <p>Офлайн. Новая система, которую полюбили наши ученики. Вы не привязаны ни к какому времени. Общение с преподавателем ведётся с помощью аудио-писем. Другими словами, вы запускаете программу, выполняете задание, всё, что вы сказали, получает преподаватель, прослушивает, анализирует, даёт рекомендации и таким же способом вам отвечает.</p>

                        <p>Основные плюсы офлайн метода:</p>

                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <ol>
                                        <li>Появилось свободное время&nbsp;&mdash; сдали задание.</li>
                                        <li>Появился вопрос &mdash;&nbsp;сразу спросили.</li>
                                        <li>Вы не привязаны к фиксированному времени.</li>
                                        <li>Поддержка среди недели.</li>
                                    </ol>
                                </td>
                                <td><a class="buy" href="/main/programma-offlayn/">Подробнее об офлайн-методе</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="caption">Запишитесь на курс по wumvi или по vk@wumvi.com</div>        </div>
    </div>

{% endblock %}